*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.header{
    background-color: white;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-menu{
    display: flex;
        align-items: center;
    gap: 5px;
}
.main-app{
    padding: 50px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.cell{
    aspect-ratio: 1/1;
    border: 2px solid rgb(10, 128, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid{
    display: grid;
}
.hard{
    grid-template-columns: repeat(10, 1fr);
}
.normal{
    grid-template-columns: repeat(9, 1fr);
}
.easy{
    grid-template-columns: repeat(7, 1fr);
}
.bg-dark{
    background-color: rgb(6, 53, 37);
    color: white;
}